* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	min-height: 100vh;
	--gap: 1rem;
	--num: 36;
	--color1: hwb(1 25% 50%);
	--color2: hsl(calc(var(--num) * 2), 50%, 50%);
	--color3: hsl(calc(var(--num) * 4), 50%, 50%);
	--color4: hsl(calc(var(--num) * 6), 50%, 50%);
	--color5: hsl(calc(var(--num) * 8), 50%, 50%);
	--color6: hsl(calc(var(--num) * 10), 50%, 50%);
	--color7: hsl(calc(var(--num) * 3), 50%, 50%);
	--color8: hsl(calc(var(--num) * 5), 50%, 50%);
	--color9: hsl(calc(var(--num) * 7), 50%, 50%);
	--color10: hsl(calc(var(--num) * 9), 50%, 50%);
	--value1: initial;
	--value2: initial;
	--value3: initial;
	--value4: initial;
	--value5: initial;
	--value6: initial;
	--value7: initial;
	--value8: initial;
	--value9: initial;
	--value10: initial;
	--_value2: calc(var(--value1) + var(--value2));
	--_value3: calc(var(--_value2) + var(--value3));
	--_value4: calc(var(--_value3) + var(--value4));
	--_value5: calc(var(--_value4) + var(--value5));
	--_value6: calc(var(--_value5) + var(--value6));
	--_value7: calc(var(--_value6) + var(--value7));
	--_value8: calc(var(--_value7) + var(--value8));
	--_value9: calc(var(--_value8) + var(--value9));
	--_value10: calc(var(--_value9) + var(--value10));
	--pieSize: 25rem;
}
.container {
	max-width: 1200px;
	padding: 0 10px;
	margin: 0 auto;
}
#title {
	text-align: center;
	margin-bottom: calc(var(--gap) * 2);
	position: relative;
}
#title div {
	display: none;
	position: absolute;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);
	align-items: center;
	gap: var(--gap);
}
#title span {
	cursor: pointer;
	font-size: 1.5rem;
	font-weight: 700;
}
.row {
	display: flex;
	gap: calc(var(--gap) * 2);
	align-items: center;
}
.col {
	flex: 0 0 50%;
}
.col:first-child {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--gap);
}
.legend {
	width: 100%;
	min-height: 25rem;
	display: flex;
	gap: var(--gap);
	justify-content: flex-end;
	align-items: flex-end;
	border: 1px solid black;
	padding: var(--gap);
}
.legend ul {
	display: flex;
	flex-direction: column;
}
.legend li {
	display: flex;
	align-items: center;
	gap: var(--gap);
	margin-bottom: calc(var(--gap) / 2);
}
.legend li:before {
	content: "";
	width: 16px;
	height: 16px;
	background-color: var(--color, grey);
}
.values {
	display: flex;
	flex-direction: column;
	gap: calc(var(--gap) / 2);
}
.item {
	display: flex;
	align-items: center;
	gap: calc(var(--gap) / 2);
}
.item label {
	flex: 0 0 100px;
	text-align: right;
}
.item input {
	width: 100%;
	max-width: 100px;
	padding: 5px;
	font-size: 1.25rem;
}
.scale {
	position: relative;
}
.scale input {
	width: 200px;
	margin-bottom: var(--gap);
}
.scale:before {
	content: "Scale";
	position: absolute;
	top: -3px;
	right: 105%;
}

.pie {
	width: var(--pieSize, 25rem);
	height: var(--pieSize, 25rem);
	border-radius: 50%;

	background: conic-gradient(
		var(--color1) var(--value1),
		var(--color2) 0 var(--_value2, 0),
		var(--color3) 0 var(--_value3, 0),
		var(--color4) 0 var(--_value4, 0),
		var(--color5) 0 var(--_value5, 0),
		var(--color6) 0 var(--_value6, 0),
		var(--color7) 0 var(--_value7, 0),
		var(--color8) 0 var(--_value8, 0),
		var(--color9) 0 var(--_value9, 0),
		var(--color10) 0 var(--_value10, 0),
		#979797 0
	);
	border: 5px solid #2860af;
}
